version: 1
formatters:
  simple:
    format: '%(levelname)s: %(message)s'
  standard:
    format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
handlers:
  console:
    class: logging.StreamHandler
    level: INFO
    formatter: simple
    stream: ext://sys.stdout
loggers:
  extract_text:
    level: INFO
    handlers: [console]
    propagate: no
root:
  level: INFO
  handlers: [console]
